<!DOCTYPE html>

<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>All employees</h2>
<br>
<table>
  <tr>
      <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Department</th>
    <th>Salary</th>

  </tr>
 <tr th:each="emp:${allEmp}">
     <td th:text="${emp.id}"></td>
     <td th:text="${emp.name}"></td>
     <td th:text="${emp.surname}"></td>
     <td th:text="${emp.department}"></td>
     <td th:text="${emp.salary}"></td>

    </tr>

  </th:forEach>
  </table>
</body>
</html>